@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/Content/jiffypop2.png" style="width:75px;margin-right:15px;" />GIPHYPop</h1>
    <p class="lead">GIPHYPop is a demonstration of querying the GIPHY API and storing GIFs to user-defined categories.<br />It was also the best popcorn you could get before microwaves showed up.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What is GIPHYPop</h2>
        <p>Not much really.  But it's free.  So it has that going for it.  GIPHY is an online collection of user-uploaded animated GIFs.  Some folks think they're kinda cool.  GIPHYPop is a tool you can use to search and save your favorites.</p>
        <p><a class="btn btn-default" href="https://www.giphy.com">Check out GIPHY &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create your Categories</h2>
        <p>Create custom categories.  Once created you can store as many GIFs in them as you want.  Like pugs.  You really should have a "pug" category.</p>
        <p><a class="btn btn-default" href="/Categories/Create">Click to create categories &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find your GIFs</h2>
        <p>Search for keywords and save your favorites to your pre-defined categories</p>
        <p><a class="btn btn-default" href="/Home/SearchGiphy">Click to search &raquo;</a></p>
    </div>
</div>